<a href="https://colab.research.google.com/github/nisha1365/precisionFDA/blob/main/Measurements_Blood_Pressure_Traindata_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bucketing for Age-based Blood Pressure Aggregation and Grouping

In [ ]:
# Remove columns
df.drop(['Measurement date','State'], axis=1,inplace=True)

In [ ]:
measurement_blood_pressure = df

In [ ]:
measurement_blood_pressure.head()

   Internalpatientid  Age at measurement bp  Diastolic bp  Systolic bp
0                  1              61.554040          75.0        140.0
1                  1              67.037260          72.0        116.0
2                  1              68.304140         100.0        145.0
3                  1              68.347339          89.0        155.0
4                  1              68.781623          72.0        143.0

In [ ]:
measurement_blood_pressure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Internalpatientid      1048575 non-null  int64
 1   Age at measurement bp  1048575 non-null  float64
 2   Diastolic bp           1048575 non-null  float64
 3   Systolic bp            1048575 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 32.0 MB

In [ ]:
measurement_blood_pressure.describe()

       Internalpatientid  Age at measurement bp  Diastolic bp   Systolic bp
count       1.048575e+06           1.048575e+06  1.048575e+06  1.048575e+06
mean        9.344299e+04           6.961481e+01  7.254969e+01  1.318939e+02
std         3.020405e+04           1.110552e+01  1.317916e+01  2.247503e+01
min         1.000000e+00           1.985244e+01  3.000000e+01  4.300000e+01
25%         1.012180e+05           6.206275e+01  6.400000e+01  1.160000e+02
50%         1.036070e+05           6.934982e+01  7.200000e+01  1.310000e+02
75%         1.057890e+05           7.723800e+01  8.100000e+01  1.460000e+02
max         1.093720e+05           1.064058e+02  2.030000e+02  2.960000e+02

### Convert 'Systolic bp' and 'Diastolic bp' columns to string type

In [ ]:
# Define the age ranges
age_ranges = [(24, 35.5), (35.6, 45.5), (45.6, 55.5), (55.6, 65.5), (65.6, 75.5), (75.6, 85.5), (85.6, 95.5), (95.6, 105)]

# Convert 'Systolic bp' and 'Diastolic bp' columns to string type
measurement_blood_pressure['Systolic bp'] = measurement_blood_pressure['Systolic bp'].astype(str)
measurement_blood_pressure['Diastolic bp'] = measurement_blood_pressure['Diastolic bp'].astype(str)

# Create the new columns based on age ranges
for range_start, range_end in age_ranges:
    range_label = f'{range_start}-{range_end}_Diastolic bp'
    second_range_label = f'{range_start}-{range_end}_Systolic bp'
    measurement_blood_pressure[range_label] = measurement_blood_pressure.apply(
        lambda row: str(row['Diastolic bp']) if range_start <= row['Age at measurement bp'] <= range_end else None,
        axis=1
    )
    measurement_blood_pressure[second_range_label] = measurement_blood_pressure.apply(
        lambda row: str(row['Systolic bp']) if range_start <= row['Age at measurement bp'] <= range_end else None,
        axis=1
    )


# Group the DataFrame by 'Internalpatientid' and concatenate the icd10 values
df_grouped = measurement_blood_pressure.groupby('Internalpatientid').agg(lambda x: ','.join(x.dropna()))
df_grouped.head()


# Reset the index of the grouped DataFrame
df_grouped = df_grouped.reset_index()
df_grouped

C:\Users\2211574\AppData\Local\Temp\1\ipykernel_15288\4098197858.py:23: FutureWarning: ['Age at measurement bp'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_grouped = measurement_blood_pressure.groupby('Internalpatientid').agg(lambda x: ','.join(x.dropna()))

,Internalpatientid,Diastolic bp,Systolic bp,24-35.5_Diastolic bp,24-35.5_Systolic bp,35.6-45.5_Diastolic bp,35.6-45.5_Systolic bp,45.6-55.5_Diastolic bp,45.6-55.5_Systolic bp,55.6-65.5_Diastolic bp,55.6-65.5_Systolic bp,65.6-75.5_Diastolic bp,65.6-75.5_Systolic bp,75.6-85.5_Diastolic bp,75.6-85.5_Systolic bp,85.6-95.5_Diastolic bp,85.6-95.5_Systolic bp,95.6-105_Diastolic bp,95.6-105_Systolic bp
0,1,"75.0,72.0,100.0,89.0,72.0,98.0,93.0,80.1933674...","140.0,116.0,145.0,155.0,143.0,174.0,150.0,155....",,,,,,,"75.0,100.0,71.0,86.0,100.0,77.0,66.0,74.0,79.0...","140.0,144.0,135.0,144.0,154.0,124.0,139.0,139....","72.0,100.0,89.0,72.0,98.0,93.0,80.19336742,94....","116.0,145.0,155.0,143.0,174.0,150.0,155.0,160....","67.0,81.0,75.0,87.0,66.0,75.0,90.0,89.0,74.0,7...","115.0,158.0,149.0,149.0,120.0,149.0,174.0,149....",,,,
1,10,"79.0,83.0,75.0,83.0,78.0,76.0,68.0,72.0,77.0,7...","138.0,120.0,113.0,127.0,154.0,126.0,112.0,123....",,,,,,,"79.0,83.0,78.0,77.0,71.0,63.0,73.0,70.0,66.0,6...","138.0,127.0,154.0,114.0,131.0,98.0,103.0,109.0...","83.0,75.0,76.0,68.0,72.0,70.0,78.0,61.0,64.0,7...","120.0,113.0,126.0,112.0,123.0,110.0,117.0,105....",,,,,,
2,101,"62.0,61.0,71.0,63.0,61.0,58.0,70.0,74.0,75.0,6...","123.0,148.0,134.0,129.0,115.0,140.0,132.0,153....",,,,,,,"62.0,61.0,63.0,58.0,70.0,74.0,75.0,65.0,75.0,7...","123.0,148.0,129.0,140.0,132.0,153.0,132.0,123....","71.0,61.0,61.0,65.0","134.0,115.0,121.0,106.0",,,,,,
3,102,"57.0,57.0,60.0,58.0,73.0,86.0,90.81570315,68.0...","140.0,119.0,141.0,131.0,155.0,142.0,162.0,160....",,,,,,,,,"57.0,68.0,73.0,72.0,85.0,57.0,92.0,76.0,62.0,7...","140.0,160.0,188.0,175.0,148.0,144.0,167.0,160....","60.0,58.0,73.0,86.0,90.81570315,56.0,81.0,56.0...","141.0,131.0,155.0,142.0,162.0,153.0,160.0,123....","90.0,79.0","145.0,153.0",,
4,103,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...","119.0,119.0,125.0,146.0,132.0,139.0,147.0,148....",,,,,,,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...","119.0,119.0,125.0,146.0,132.0,139.0,147.0,148....",,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7960,109363,"94.0,91.0,94.0,65.0,112.0,90.0,72.0,86.0,85.0,...","143.0,131.0,155.0,113.5095938,213.0,137.0,114....",,,,,94.0,143.0,"91.0,94.0,65.0","131.0,155.0,113.5095938","112.0,90.0,72.0,86.0,85.0,73.0,68.0,65.0,68.0","213.0,137.0,114.0,143.0,137.0,113.0,113.0,108....",,,,,,
7961,109365,"70.0,79.0,63.0,68.0,73.0,87.0,83.0,60.0","130.0,155.0,126.0,186.0,124.0,161.0,189.0,150.0",,,,,,,70.0,130.0,"79.0,63.0,68.0,73.0","155.0,126.0,186.0,124.0","87.0,83.0,60.0","161.0,189.0,150.0",,,,
7962,109367,"63.0,76.0,56.0,56.0,65.0","107.0,141.0,104.0,95.0,123.0",,,,,,,,,,,"63.0,76.0,56.0,56.0,65.0","107.0,141.0,104.0,95.0,123.0",,,,
7963,109368,"78.0,85.0,70.0","136.0,136.0,125.0",,,,,,,,,"78.0,85.0","136.0,136.0",70.0,125.0,,,,
7964,109372,"83.0,68.0,76.0,97.0,81.0,68.0,70.0,63.0,66.0,6...","159.0,131.0,144.0,155.0,131.0,136.0,122.0,144....",,,,,,,"83.0,68.0,76.0,97.0,81.0,68.0,70.0,63.0,66.0,6...","159.0,131.0,144.0,155.0,131.0,136.0,122.0,144....",,,,,,,,

In [ ]:
# Replace blank values with NaN
df_grouped.replace('', np.nan, inplace=True)

missing_values_count = merge_measurement_blood_pressure_death.isnull().sum()
total_rows = merge_measurement_blood_pressure_death.shape[0]

missing_percentage = (missing_values_count / total_rows) * 100

missing_data_summary = pd.DataFrame({
    'Missing Values Count': missing_values_count,
    'Missing Values Percentage': missing_percentage
})

print("Missing values summary per column:")
missing_data_summary

Missing values summary per column:

                        Missing Values Count  Missing Values Percentage
Internalpatientid                          0                   0.000000
Diastolic bp                               0                   0.000000
Systolic bp                                0                   0.000000
24-35.5_Diastolic bp                    7889                  99.045825
24-35.5_Systolic bp                     7889                  99.045825
35.6-45.5_Diastolic bp                  7567                  95.003139
35.6-45.5_Systolic bp                   7567                  95.003139
45.6-55.5_Diastolic bp                  6302                  79.121155
45.6-55.5_Systolic bp                   6302                  79.121155
55.6-65.5_Diastolic bp                  4450                  55.869429
55.6-65.5_Systolic bp                   4450                  55.869429
65.6-75.5_Diastolic bp                  3257                  40.891400
65.6-75.5_Systolic bp                   3257                  40.891400
75.6-85.5_Diastolic bp                  3991                  50.106717
75.6-85.5_Systolic bp                   3991                  50.106717
85.6-95.5_Diastolic bp                  6342                  79.623352
85.6-95.5_Systolic bp                   6342                  79.623352
95.6-105_Diastolic bp                   7807                  98.016321
95.6-105_Systolic bp                    7807                  98.016321
Age at death                            2142                  26.892655
Death date                              2142                  26.892655
death                                      0                   0.000000

---

## Merging with Death file

In [ ]:
data_death = pd.read_csv(r'C:\Users\2211574\OneDrive - Cognizant\1_Hackathon_Files\Train Synthetic data\All Data\death\death_train.csv')

In [ ]:
data_death.head()

   Unnamed: 0  Internalpatientid  Age at death             Death date
0           0             100036     72.412770  2015-01-18 20:49:10.0
1           1             100037     75.241135  2008-10-16 15:14:26.0
2           2             100045     85.399403  2019-01-26 11:33:52.0
3           3             100095     84.136551  2004-08-10 21:49:35.0
4           6              10013     68.372126  2007-06-11 00:17:06.0

In [ ]:
data_death = data_death.drop(['Unnamed: 0'],axis=1)

In [ ]:
data_death.shape

(97284, 3)

In [ ]:
data_death['death'] = 1
data_death.head()

   Internalpatientid  Age at death             Death date  death
0             100036     72.412770  2015-01-18 20:49:10.0      1
1             100037     75.241135  2008-10-16 15:14:26.0      1
2             100045     85.399403  2019-01-26 11:33:52.0      1
3             100095     84.136551  2004-08-10 21:49:35.0      1
4              10013     68.372126  2007-06-11 00:17:06.0      1

In [ ]:
merge_measurement_blood_pressure_death = pd.merge(df_grouped, data_death, how='left',on='Internalpatientid')

In [ ]:
merge_measurement_blood_pressure_death.head()

,Internalpatientid,Diastolic bp,Systolic bp,24-35.5_Diastolic bp,24-35.5_Systolic bp,35.6-45.5_Diastolic bp,35.6-45.5_Systolic bp,45.6-55.5_Diastolic bp,45.6-55.5_Systolic bp,55.6-65.5_Diastolic bp,...,65.6-75.5_Systolic bp,75.6-85.5_Diastolic bp,75.6-85.5_Systolic bp,85.6-95.5_Diastolic bp,85.6-95.5_Systolic bp,95.6-105_Diastolic bp,95.6-105_Systolic bp,Age at death,Death date,death
0,1,"75.0,72.0,100.0,89.0,72.0,98.0,93.0,80.1933674...","140.0,116.0,145.0,155.0,143.0,174.0,150.0,155....",,,,,,,"75.0,100.0,71.0,86.0,100.0,77.0,66.0,74.0,79.0...",...,"116.0,145.0,155.0,143.0,174.0,150.0,155.0,160....","67.0,81.0,75.0,87.0,66.0,75.0,90.0,89.0,74.0,7...","115.0,158.0,149.0,149.0,120.0,149.0,174.0,149....",,,,,NaN,NaN,NaN
1,10,"79.0,83.0,75.0,83.0,78.0,76.0,68.0,72.0,77.0,7...","138.0,120.0,113.0,127.0,154.0,126.0,112.0,123....",,,,,,,"79.0,83.0,78.0,77.0,71.0,63.0,73.0,70.0,66.0,6...",...,"120.0,113.0,126.0,112.0,123.0,110.0,117.0,105....",,,,,,,72.384665,2022-08-25 14:16:51.0,1.0
2,101,"62.0,61.0,71.0,63.0,61.0,58.0,70.0,74.0,75.0,6...","123.0,148.0,134.0,129.0,115.0,140.0,132.0,153....",,,,,,,"62.0,61.0,63.0,58.0,70.0,74.0,75.0,65.0,75.0,7...",...,"134.0,115.0,121.0,106.0",,,,,,,75.138161,2021-04-17 23:57:06.0,1.0
3,102,"57.0,57.0,60.0,58.0,73.0,86.0,90.81570315,68.0...","140.0,119.0,141.0,131.0,155.0,142.0,162.0,160....",,,,,,,,...,"140.0,160.0,188.0,175.0,148.0,144.0,167.0,160....","60.0,58.0,73.0,86.0,90.81570315,56.0,81.0,56.0...","141.0,131.0,155.0,142.0,162.0,153.0,160.0,123....","90.0,79.0","145.0,153.0",,,88.618885,2015-08-24 04:51:36.0,1.0
4,103,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...","119.0,119.0,125.0,146.0,132.0,139.0,147.0,148....",,,,,,,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...",...,,,,,,,,65.532460,2014-04-13 02:44:15.0,1.0

In [ ]:
merge_measurement_blood_pressure_death['death'] = merge_measurement_blood_pressure_death['death'].fillna(0.0)

In [ ]:
merge_measurement_blood_pressure_death[merge_measurement_blood_pressure_death['death']==0.0]

,Internalpatientid,Diastolic bp,Systolic bp,24-35.5_Diastolic bp,24-35.5_Systolic bp,35.6-45.5_Diastolic bp,35.6-45.5_Systolic bp,45.6-55.5_Diastolic bp,45.6-55.5_Systolic bp,55.6-65.5_Diastolic bp,...,65.6-75.5_Systolic bp,75.6-85.5_Diastolic bp,75.6-85.5_Systolic bp,85.6-95.5_Diastolic bp,85.6-95.5_Systolic bp,95.6-105_Diastolic bp,95.6-105_Systolic bp,Age at death,Death date,death
0,1,"75.0,72.0,100.0,89.0,72.0,98.0,93.0,80.1933674...","140.0,116.0,145.0,155.0,143.0,174.0,150.0,155....",,,,,,,"75.0,100.0,71.0,86.0,100.0,77.0,66.0,74.0,79.0...",...,"116.0,145.0,155.0,143.0,174.0,150.0,155.0,160....","67.0,81.0,75.0,87.0,66.0,75.0,90.0,89.0,74.0,7...","115.0,158.0,149.0,149.0,120.0,149.0,174.0,149....",,,,,NaN,NaN,0.0
5,104,"138.0,142.0,95.0,70.0,69.0,97.0,104.0,86.0,67....","215.0,225.0,175.0,121.0,126.0,173.0,177.0,140....",,,,,,,,...,"215.0,225.0,175.0,121.0,126.0,173.0,177.0,140....",,,,,,,NaN,NaN,0.0
22,1023,"59.0,60.0,79.0,65.0,62.0","100.0,126.0,122.0,109.0,97.0",,,,,"59.0,60.0,79.0,65.0,62.0","100.0,126.0,122.0,109.0,97.0",,...,,,,,,,,NaN,NaN,0.0
25,1027,"114.0,80.0,88.0,87.0,82.0,78.0,74.0,84.0,75.0,...","160.0,138.0,143.0,132.0,132.0,115.0,131.0,130....",,,,,,,"114.0,80.0,88.0,81.0,71.0,94.0,80.0,76.0,68.0,...",...,"131.0,130.0,120.0,148.0,122.0,124.0,129.0,158....",,,,,,,NaN,NaN,0.0
30,1034,"84.0,78.0,89.0,92.0,86.0,70.0,74.0,96.0,75.0,7...","124.0,116.0,156.0,161.0,121.0,127.0,111.0,163....",,,"84.0,78.0,89.0,92.0,86.0,70.0,74.0,78.0,82.0,1...","124.0,116.0,156.0,161.0,121.0,127.0,111.0,133....","96.0,75.0,71.0,73.0,79.0,53.0,76.0,96.0,82.0,6...","163.0,139.0,132.0,119.0,138.0,115.0,133.0,142....","69.0,64.0,88.0,77.0,78.0,88.0,48.0,80.0,79.0,5...",...,"115.0,108.0,121.0,130.0,146.0,141.0,120.0,124....",,,,,,,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7951,109349,"75.0,61.0,73.0,63.0,64.0,85.0,73.0,73.0","137.0,102.0,112.0,121.0,97.0,132.0,121.0,130.0",,,"75.0,61.0,73.0,63.0","137.0,102.0,112.0,121.0","64.0,85.0,73.0,73.0","97.0,132.0,121.0,130.0",,...,,,,,,,,NaN,NaN,0.0
7955,109353,"82.3619801,85.0,87.0,88.0,84.0,75.0","143.3474023,146.0,135.0,147.0,136.0,141.0",,,,,82.3619801,143.3474023,"85.0,87.0,88.0,84.0,75.0",...,,,,,,,,NaN,NaN,0.0
7956,109354,"99.0,86.0,90.0,86.0,76.0,60.0,79.0,70.0,63.339...","142.0,144.0,153.0,160.0,140.0,123.0,131.0,153....",,,,,"99.0,86.0","142.0,144.0","90.0,86.0,76.0",...,"123.0,131.0,153.0,107.2973399,185.0,127.0,156....",,,,,,,NaN,NaN,0.0
7959,109358,"83.0,66.0,82.0,70.0,67.0","130.0,114.0,129.0,117.0,136.0",,,,,,,"83.0,66.0,82.0,70.0",...,136.0,,,,,,,NaN,NaN,0.0
7963,109368,"78.0,85.0,70.0","136.0,136.0,125.0",,,,,,,,...,"136.0,136.0",70.0,125.0,,,,,NaN,NaN,0.0

In [ ]:
death1 = merge_measurement_blood_pressure_death[merge_measurement_blood_pressure_death['death']==1.0]

In [ ]:
death1

,Internalpatientid,Diastolic bp,Systolic bp,24-35.5_Diastolic bp,24-35.5_Systolic bp,35.6-45.5_Diastolic bp,35.6-45.5_Systolic bp,45.6-55.5_Diastolic bp,45.6-55.5_Systolic bp,55.6-65.5_Diastolic bp,...,65.6-75.5_Systolic bp,75.6-85.5_Diastolic bp,75.6-85.5_Systolic bp,85.6-95.5_Diastolic bp,85.6-95.5_Systolic bp,95.6-105_Diastolic bp,95.6-105_Systolic bp,Age at death,Death date,death
1,10,"79.0,83.0,75.0,83.0,78.0,76.0,68.0,72.0,77.0,7...","138.0,120.0,113.0,127.0,154.0,126.0,112.0,123....",NaN,NaN,NaN,NaN,NaN,NaN,"79.0,83.0,78.0,77.0,71.0,63.0,73.0,70.0,66.0,6...",...,"120.0,113.0,126.0,112.0,123.0,110.0,117.0,105....",NaN,NaN,NaN,NaN,NaN,NaN,72.384665,2022-08-25 14:16:51.0,1.0
2,101,"62.0,61.0,71.0,63.0,61.0,58.0,70.0,74.0,75.0,6...","123.0,148.0,134.0,129.0,115.0,140.0,132.0,153....",NaN,NaN,NaN,NaN,NaN,NaN,"62.0,61.0,63.0,58.0,70.0,74.0,75.0,65.0,75.0,7...",...,"134.0,115.0,121.0,106.0",NaN,NaN,NaN,NaN,NaN,NaN,75.138161,2021-04-17 23:57:06.0,1.0
3,102,"57.0,57.0,60.0,58.0,73.0,86.0,90.81570315,68.0...","140.0,119.0,141.0,131.0,155.0,142.0,162.0,160....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"140.0,160.0,188.0,175.0,148.0,144.0,167.0,160....","60.0,58.0,73.0,86.0,90.81570315,56.0,81.0,56.0...","141.0,131.0,155.0,142.0,162.0,153.0,160.0,123....","90.0,79.0","145.0,153.0",NaN,NaN,88.618885,2015-08-24 04:51:36.0,1.0
4,103,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...","119.0,119.0,125.0,146.0,132.0,139.0,147.0,148....",NaN,NaN,NaN,NaN,NaN,NaN,"46.0,41.0,42.0,59.0,65.0,61.0,59.0,59.0,59.0,4...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.532460,2014-04-13 02:44:15.0,1.0
6,1000,"65.0,92.0,77.0,64.0,59.0,63.0,63.0,56.0,44.0,7...","101.0,109.0,138.0,134.0,108.0,111.0,123.0,123....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"92.0,77.0,64.0,59.0,63.0,56.0,44.0,70.0,58.0,5...","109.0,138.0,134.0,108.0,111.0,123.0,105.0,114....","65.0,63.0,63.0,56.0,54.0,54.0,50.0,62.0,53.0","101.0,123.0,135.0,114.0,125.0,121.0,111.0,126....",NaN,NaN,88.436931,2007-12-21 16:45:36.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7958,109356,"60.0,75.0","131.0,103.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"60.0,75.0","131.0,103.0",NaN,NaN,NaN,NaN,85.078475,2009-01-25 04:22:56.0,1.0
7960,109363,"94.0,91.0,94.0,65.0,112.0,90.0,72.0,86.0,85.0,...","143.0,131.0,155.0,113.5095938,213.0,137.0,114....",NaN,NaN,NaN,NaN,94.0,143.0,"91.0,94.0,65.0",...,"213.0,137.0,114.0,143.0,137.0,113.0,113.0,108....",NaN,NaN,NaN,NaN,NaN,NaN,71.594015,2018-03-19 14:42:11.0,1.0
7961,109365,"70.0,79.0,63.0,68.0,73.0,87.0,83.0,60.0","130.0,155.0,126.0,186.0,124.0,161.0,189.0,150.0",NaN,NaN,NaN,NaN,NaN,NaN,70.0,...,"155.0,126.0,186.0,124.0","87.0,83.0,60.0","161.0,189.0,150.0",NaN,NaN,NaN,NaN,79.374918,2017-11-01 12:46:43.0,1.0
7962,109367,"63.0,76.0,56.0,56.0,65.0","107.0,141.0,104.0,95.0,123.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"63.0,76.0,56.0,56.0,65.0","107.0,141.0,104.0,95.0,123.0",NaN,NaN,NaN,NaN,78.434324,2003-02-07 17:53:38.0,1.0
7964,109372,"83.0,68.0,76.0,97.0,81.0,68.0,70.0,63.0,66.0,6...","159.0,131.0,144.0,155.0,131.0,136.0,122.0,144....",NaN,NaN,NaN,NaN,NaN,NaN,"83.0,68.0,76.0,97.0,81.0,68.0,70.0,63.0,66.0,6...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.012661,2022-12-05 03:03:34.0,1.0

In [ ]:
merge_measurement_blood_pressure_death.describe(include = ['object'])

,Diastolic bp,Systolic bp,24-35.5_Diastolic bp,24-35.5_Systolic bp,35.6-45.5_Diastolic bp,35.6-45.5_Systolic bp,45.6-55.5_Diastolic bp,45.6-55.5_Systolic bp,55.6-65.5_Diastolic bp,55.6-65.5_Systolic bp,65.6-75.5_Diastolic bp,65.6-75.5_Systolic bp,75.6-85.5_Diastolic bp,75.6-85.5_Systolic bp,85.6-95.5_Diastolic bp,85.6-95.5_Systolic bp,95.6-105_Diastolic bp,95.6-105_Systolic bp,Death date
count,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,7965,5823
unique,7813,7838,77,76,387,385,1601,1609,3413,3439,4543,4575,3801,3842,1529,1556,154,153,5823
top,58.0,121.0,,,,,,,,,,,,,,,,,2022-08-25 14:16:51.0
freq,10,8,7889,7889,7567,7567,6302,6302,4450,4450,3257,3257,3991,3991,6342,6342,7807,7807,1

In [ ]:
# Replace blank values with NaN
death1.replace('', np.nan, inplace=True)

missing_values_count = death1.isnull().sum()
total_rows = death1.shape[0]

missing_percentage = (missing_values_count / total_rows) * 100

missing_data_summary = pd.DataFrame({
    'Missing Values Count': missing_values_count,
    'Missing Values Percentage': missing_percentage
})

print("Missing values summary per column:")
missing_data_summary

Missing values summary per column:

C:\Users\2211574\AppData\Local\Temp\1\ipykernel_15288\3968398773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  death1.replace('', np.nan, inplace=True)

                        Missing Values Count  Missing Values Percentage
Internalpatientid                          0                   0.000000
Diastolic bp                               0                   0.000000
Systolic bp                                0                   0.000000
24-35.5_Diastolic bp                    5806                  99.708054
24-35.5_Systolic bp                     5806                  99.708054
35.6-45.5_Diastolic bp                  5685                  97.630088
35.6-45.5_Systolic bp                   5685                  97.630088
45.6-55.5_Diastolic bp                  5006                  85.969432
45.6-55.5_Systolic bp                   5006                  85.969432
55.6-65.5_Diastolic bp                  3851                  66.134295
55.6-65.5_Systolic bp                   3851                  66.134295
65.6-75.5_Diastolic bp                  2641                  45.354628
65.6-75.5_Systolic bp                   2641                  45.354628
75.6-85.5_Diastolic bp                  2635                  45.251589
75.6-85.5_Systolic bp                   2635                  45.251589
85.6-95.5_Diastolic bp                  4429                  76.060450
85.6-95.5_Systolic bp                   4429                  76.060450
95.6-105_Diastolic bp                   5687                  97.664434
95.6-105_Systolic bp                    5687                  97.664434
Age at death                               0                   0.000000
Death date                                 0                   0.000000
death                                      0                   0.000000